<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>	
    <key>ClientId</key>
    <string>CEqbx8zv1TXcQahnVb6XZpAf69IzOuj8</string>
    <key>Domain</key>
    <string>machrou3kom.auth0.com</string>
</dict>
</plist>
